.container {
    background-color: rgba(34, 8, 58, 0.941);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tituloPrincipal {
    background-color: rgba(0, 0, 0, 0.902);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

.tarjeta {
    margin: 10px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: black;
    background-color: white;
    border-radius: 10px;
}

.botonVerDetalle {
    background-color: rgb(86, 0, 162);
    color: white;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 2px 3px 8px black;
    font-size: 1rem;
}