.container {
    background-color: rgba(34, 8, 58, 0.941);
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 10px;
}

.cajaPrincipalProductos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.537);
}